<h1>Listing posts</h1>

   <% @posts.each do |post| %>
   <row>
   <div class= 'well'>
       <%= link_to post.title, "http://#{post.url}" %>
       <%= post.user.email %>

       <p>
    <% if user_signed_in? %>
    <ul class = 'display: inline'>
      <li class = "display: inline">Funny: <%= rating_for post, "funny" %></li>
      <li class = 'display: inline'>Interesting: <%= rating_for post, "interesting" %></li>
      <li>Interesting: <%= rating_for post, "interesting" %></li>
      <li>Cool: <%= rating_for post, "cool" %></li>
      <li>NSFW: <%= rating_for post, "nsfw" %></li>
    </ul>
    <% end %>
      </p>
<p>
         <% if user_signed_in? %>
           <% if current_user.id == post.user_id%>
         <%= link_to 'Show', post %>
         <%= link_to 'Edit', edit_post_path(post) %>
         <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
         <%end%>
         <%end%>
       </p>
         </div>
</row>
   <% end %>

<br>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<%end%>